body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* *** PRELOADER *** */
#preloader {
  background: rgb(219, 31, 31) url(./assets/preloader.gif) no-repeat center center;
  background-size: 30%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 999;
}

/* *** SIGNUP *** */
.signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #660000;
  color: #fff;
  height: 100vh;
  text-transform: uppercase;
  text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  padding: 1rem;
  border: 3px solid #fff;
  margin-top: 1rem;
  border-radius: 2rem;
  background: transparent;
  color: #fff;
  width: 25%;
}

::placeholder {
  color: #fff;
  font-size: 17px;
}

/* *** NAVBAR *** */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #800000;
  color: white;
  cursor: pointer;
  z-index: 2;
  padding: 0.5rem 5.2rem;
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.75);
}

button {
  padding: 0.6rem 1.1rem;
  border-radius: 0.4rem;
  border: transparent;
  color: #800000;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
}

.logout {
  transition: all 0.5s ease;
}

.logout:hover {
  background-color: rgb(231, 208, 208);
}

/* *** SIDEBAR *** */
.sidebar {
  list-style-type: none;
  padding: 1.2rem;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid transparent;
  margin: 2rem 0.3rem 2rem 1rem;
  border-radius: 0.3rem;
  box-shadow: -1px 1px 7px -1px rgba(0, 0, 0, 0.83);
  -webkit-box-shadow: -1px 1px 7px -1px rgba(0, 0, 0, 0.83);
  -moz-box-shadow: -1px 1px 7px -1px rgba(0, 0, 0, 0.83);
  text-align: center;
  background-color: #800000;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
  border: 3px solid #fff;
  padding: 0.7rem;
  border-radius: 40%;
}

.sidebar-li {
  margin-top: 2.4rem;
}

.li-donor {
  margin-bottom: 2.3rem;
}

/* *** FORM *** */
.form {
  margin: auto;
  width: 50%;
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

/* *** RECORDS *** */
.records,
.form-wrapper {
  padding: 2rem;
  width: 90%;
  border: 1px solid transparent;
  margin: 2rem 1rem 2rem 0.3rem;
  border-radius: 0.3rem;
  box-shadow: -1px 1px 7px -1px rgba(0, 0, 0, 0.83);
  -webkit-box-shadow: -1px 1px 7px -1px rgba(0, 0, 0, 0.83);
  -moz-box-shadow: -1px 1px 7px -1px rgba(0, 0, 0, 0.83);
  color: #800000;
}

.text-center {
  text-align: center;
}
